body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin: 0;
  padding: 0;
  }
  
  a {
  color: #6c757d;
  text-decoration: none;
  transition: all 0.2s ease;
  }
  
  a:hover {
  color: #007bff;
  }
  
  header {
  background-color: #d9ef0b;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  }
  
  header img {
  margin: 10px;
  border-radius: 80%;
  }
  
  header {
  display: flex;
  align-items: center;
  }
  
  nav {
  flex-grow: 1;
  }
  
  nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  nav li {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-weight: 400;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  nav a {
  color: #333333;
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  }
  
  nav a:hover {
  color: #007bff;
  }
  
  h2 {
  font-size: 36px;
  margin-bottom: 20px;
  }
  
  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  li {
  margin: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  max-width: 300px;
  }
  
  li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
main {
  background-image: url("cofvee.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
main h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

main p {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
